[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.2"
django-heroku = "==0.3.1"
django-rest-swagger = "==2.2.0"
djangorestframework = "==3.14.0"
python-decouple = "==3.6"
djangorestframework-simplejwt = "==5.2.1"
drf-yasg = "==1.21.4"
filelock = "==3.8.0"
gunicorn = "==20.1.0"
pipenv = "==2022.10.12"
pyjwt = "==2.5.0"
requests = "==2.28.1"
twilio = "==7.14.2"
tzdata = "==2022.5"
uritemplate = "==4.1.1"
urllib3 = "==1.26.12"
virtualenv = "==20.16.5"
virtualenv-clone = "==0.5.7"
whitenoise = "==6.2.0"
gensim = "==4.2.0"
nltk = "==3.7"
tensorflow = "==2.10.0"
beautifulsoup4 = "~=4.11.1"
googletrans = "~=3.1.0a0"

[dev-packages]

[requires]
python_version = "3.10"
